td{
    text-align: start;
   
}

.idmargin{
   
    padding-left: 20px;
}
.rows{
    border-top: 0.2px solid #f6f6f6;
}
.datecolor{
    color:#6e6d84;
}
.avatar {
    padding-left: 15px;
}
.datecolor{
    color:#6e6d84;
}